<%= render :partial => "partial/productintro" %>
<div class="step" id="sign">
	<div class="weui_cell_ilbtn select" v-if="curStep == 0">
		<p>选择年龄</p>
		<div class="option">
			<input type="radio" id="ages0" value="0" v-model="ages">
			<label for="ages0">
				<a  class="weui_btn weui_btn_default" v-bind:class="{ active: ages == 0}">5-7</a>
			</label>
		</div>
		<div class="option">
			<input type="radio" id="ages1" value="1" v-model="ages">
			<label for="ages1">
				<a  class="weui_btn weui_btn_default" v-bind:class="{ active: ages == 1}">7-12</a>
			</label>
		</div>
		<div class="option">
			<input type="radio" id="ages2" value="2" v-model="ages">
			<label for="ages2">
				<a  class="weui_btn weui_btn_default" v-bind:class="{ active: ages == 2}">12-18</a>
			</label>
		</div>
	</div>
	<div class="weui_cell_ilbtn select multi" v-if="curStep == 1">
		<p>选择乐器</p>
		<div class="option">
			<input type="checkbox" id="instr0" value="0" v-model="instr">
			<label for="instr0">
				<a  class="weui_btn weui_btn_default" v-bind:class="{ active: instr.indexOf('0')!=-1}">钢琴</a>
			</label>
		</div>
		<div class="option">
			<input type="checkbox" id="instr1" value="1" v-model="instr">
			<label for="instr1">
				<a  class="weui_btn weui_btn_default" v-bind:class="{ active: instr.indexOf('1')!=-1}">吉他</a>
			</label>
		</div>
		<div class="option">
			<input type="checkbox" id="instr2" value="2" v-model="instr">
			<label for="instr2">
				<a  class="weui_btn weui_btn_default" v-bind:class="{ active: instr.indexOf('2')!=-1}">小提琴</a>
			</label>
		</div>
	</div>
	<div class="weui_cell_ilbtn select" v-if="curStep == 2">
		<p>选择上课地点</p>
		<div class="option">
			<input type="radio" id="loc0" value="0" v-model="loc">
			<label for="loc0">
				<a  class="weui_btn weui_btn_default" v-bind:class="{ active: loc == 0}">天津</a>
			</label>
		</div>
	</div>
	<div v-if="curStep == 3">
		<%= render :partial => "login/index" %>
	</div>
	{{curStep}}
	{{stepTel}}
	<div class="step_btn">
		<a  class="weui_btn  weui_btn_default left"  @click="prev" v-if="curStep > 0">上一步</a>
		<a  class="weui_btn weui_btn_default right" @click="next" v-if="curStep < 3">下一步</a>
		<a  class="weui_btn weui_btn_default right" @click="sign" v-if="curStep == 3">开始选课</a>
	</div>
</div>