<%= render :partial => "partial/productintro" %>

<div class="signbox">
	<h4 class="title">注册开始选课了</h4>
	<%= render :partial => "login/index" %>
</div>

<div class="actionbar">
	<div class="message">请输入有效的手机号</div>
	<a href="/choose">开始选课</a>
</div>