<%= render :partial => "partial/productintro" %>

<div class="step" id="sign">
	<div class="weui_cell_ilbtn select">
		<p>选择上课地点</p>
		<div class="option">
			<input type="radio" id="loc0" value="0" >
			<label for="loc0">
				<a  class="weui_btn weui_btn_default" href="/sign/send">天津</a>
			</label>
		</div>
	</div>
</div>