<%= render :partial => "partial/productintro" %>

<div class="step" id="sign">
	<div class="weui_cell_ilbtn select" v-if="curStep == 0">
		<p>您宝贝的年龄</p>
		<div class="option">
			<input type="radio" id="ages0" value="0" >
			<label for="ages0">
				<a  class="weui_btn weui_btn_default" href="/sign/step2">5-7</a>
			</label>
		</div>
		<div class="option">
			<input type="radio" id="ages1" value="1" >
			<label for="ages1">
				<a  class="weui_btn weui_btn_default active" href="/sign/step2">7-12</a>
			</label>
		</div>
		<div class="option">
			<input type="radio" id="ages2" value="2" >
			<label for="ages2">
				<a  class="weui_btn weui_btn_default" href="/sign/step2">12-18</a>
			</label>
		</div>
	</div>
</div>