<%= render :partial => "partial/productintro" %>

<div class="step" id="sign">
	<div class="weui_cell_ilbtn select multi" >
		<p>选择乐器</p>
		<div class="option">
			<input type="checkbox" id="instr0" value="0" >
			<label for="instr0">
				<a  class="weui_btn weui_btn_default">钢琴</a>
			</label>
		</div>
		<div class="option">
			<input type="checkbox" id="instr1" value="1" >
			<label for="instr1">
				<a  class="weui_btn weui_btn_default">吉他</a>
			</label>
		</div>
		<div class="option">
			<input type="checkbox" id="instr2" value="2" >
			<label for="instr2">
				<a  class="weui_btn weui_btn_default">小提琴</a>
			</label>
		</div>
		<div class="option">
			<input type="checkbox" id="instr3" value="3" >
			<label for="instr3">
				<a  class="weui_btn weui_btn_default">萨克斯</a>
			</label>
		</div>
		<div class="option">
			<input type="checkbox" id="instr4" value="4" >
			<label for="instr4">
				<a  class="weui_btn weui_btn_default">架子鼓</a>
			</label>
		</div>
		<div class="option">
			<input type="checkbox" >
			<label for="instr2">
				<a  class="weui_btn weui_btn_default" href="/sign/step3">选好了</a>
			</label>
		</div>
	</div>
</div>