<div class="course-list" id="course-list" >
	<a href="/cousedetail">
		<div class="course" v-for="course in list">
			<div class="head">
				<div class="title">{{course.name}}</div>
				<div class="info">
					<span class="ages">{{course.ages}} </span>|
					<span class="period"> {{course.time}}</span>
				</div>
			</div>
			<div class="foot">
				<div class="instr">{{course.instr}}</div>
				<div class="price">{{course.price}}</div>
			</div>
		</div>
	</a>
</div>
<div class="load-more">
	<a class="span">加载更多</a>
</div>