<div class="coursedetail" id="coursedetail">
	<div class="head">
		<div class="title">{{course.name}}<br/>{{course.instr}}</div>
		<div class="info">
			<span class="ages">{{course.ages}} </span>|
			<span class="period"> {{course.time}}</span>
		</div>
	</div>
	<div class="body"></div>
	<div class="foot">
		<div class="left">
			<p>玩兔已为你推荐上课时间</p>
			<p>开课时间: {{course.starttime}}</p>
			<p>上课时间: {{course.routine}}</p>
		</div>
		<div class="right">
			<p>{{course.price}}</p>
			<p><a href="/timefix">调整时间</a></p>
		</div>
	</div>
</div>
<div class="actionbar">
	<a href="/willpay">立即预约</a>
</div>