<div class="coursedetail" id="coursedetail">
	<div class="head">
		<div class="title">{{course.name}}<br/>{{course.instr}}</div>
		<div class="info">
			<span class="ages"> 无合适时间？请联系</span><br/>
			<span class="period">400-1212-1212</span>
		</div>
	</div>
	<div class="body">
		<div class="loc">
			
		</div>
	</div>
	<div class="foot">
		<div class="left">
			<p>玩兔已为你推荐上课时间</p>
			<p>开课时间: {{course.starttime}}</p>
			<p>上课时间: {{course.routine}}</p>
		</div>
		<div class="right">
			<p>{{course.price}}</p>
			<p><a href="/timefix">a 学校</a></p>
		</div>
	</div>
</div>
<div class="actionbar">
	<a href="/willpay">立即预约</a>
</div>