<div class="coursedetail" id="coursedetail">
	<div class="head">
		<div class="title">{{course.name}}<br/>{{course.instr}}</div>
		<div class="info">
			<span class="ages"> 无合适时间？请联系</span><br/>
			<span class="period">400-1212-1212</span>
		</div>
	</div>
	<div class="body">
		<div class="month">
			<span>8月</span>
			<div class="day" >
				<div class="tab">
					<div class="date tab-item">6号{{cdate}}<br/>周三{{cday}}</div>
					<div class="am tab-item active">
						<span>上午</span>
					</div>
					<div class="pm tab-item">
						<span>下午</span>
					</div>
					<div class="night tab-item">
						<span>晚上</span>
					</div>
				</div>
				<div class="timelist select am" style="display:block;">
					<div class="option">
						<input type="radio" id="time0" value="0" name="time">
						<label for="time0">
							<a  class="weui_btn weui_btn_default">08:00-09:00
								<br/>
								800元
							</a>
						</label>
					</div>
					<div class="option">
						<input type="radio" id="time1" value="1" name="time">
						<label for="time1">
							<a  class="weui_btn weui_btn_default">09:00-10:00
								<br/>
								800元
							</a>
						</label>
					</div>
					<div class="option">
						<input type="radio" id="time2" value="2" name="time">
						<label for="time2">
							<a  class="weui_btn weui_btn_default">10:00-11:00
								<br/>
								800元
							</a>
						</label>
					</div>
					<div class="option">
						<input type="radio" id="time3" value="3" name="time">
						<label for="time3">
							<a  class="weui_btn weui_btn_default">11:00-12:00
								<br/>
								800元
							</a>
						</label>
					</div>
				</div>
				<div class="timelist select pm">
					<div class="option">
						<input type="radio" id="time4" value="4" name="time">
						<label for="time4">
							<a  class="weui_btn weui_btn_default">12:00-13:00
								<br/>
								800元
							</a>
						</label>
					</div>
					<div class="option">
						<input type="radio" id="time5" value="5" name="time">
						<label for="time5">
							<a  class="weui_btn weui_btn_default">13:00-14:00
								<br/>
								800元
							</a>
						</label>
					</div>
					<div class="option">
						<input type="radio" id="time6" value="6" name="time">
						<label for="time6">
							<a  class="weui_btn weui_btn_default">14:00-15:00
								<br/>
								800元
							</a>
						</label>
					</div>
					<div class="option">
						<input type="radio" id="time7" value="7" name="time">
						<label for="time7">
							<a  class="weui_btn weui_btn_default">15:00-16:00
								<br/>
								800元
							</a>
						</label>
					</div>
				</div>
				<div class="timelist select night">
					<div class="option">
						<input type="radio" id="time8" value="8" name="time">
						<label for="time8">
							<a  class="weui_btn weui_btn_default">17:00-18:00
								<br/>
								800元
							</a>
						</label>
					</div>
					<div class="option">
						<input type="radio" id="time9" value="9" name="time">
						<label for="time9">
							<a  class="weui_btn weui_btn_default">18:00-19:00
								<br/>
								800元
							</a>
						</label>
					</div>
					<div class="option">
						<input type="radio" id="time10" value="10" name="time">
						<label for="time10">
							<a  class="weui_btn weui_btn_default">19:00-20:00
								<br/>
								800元
							</a>
						</label>
					</div>
					<div class="option">
						<input type="radio" id="time11" value="11" name="time">
						<label for="time11">
							<a  class="weui_btn weui_btn_default">20:00-21:00
								<br/>
								800元
							</a>
						</label>
					</div>
				</div>
			</div>
			<div class="day" >
				<div class="tab">
					<div class="date tab-item">7号{{cdate}}<br/>周四{{cday}}</div>
					<div class="am tab-item">
						<span>上午</span>
					</div>
					<div class="pm tab-item">
						<span>下午</span>
					</div>
					<div class="night tab-item">
						<span>晚上</span>
					</div>
				</div>
				<div class="timelist select am">
					<div class="option">
						<input type="radio" id="time20" value="0" name="time">
						<label for="time20">
							<a  class="weui_btn weui_btn_default">08:00-09:00
								<br/>
								800元
							</a>
						</label>
					</div>
					<div class="option">
						<input type="radio" id="time21" value="1" name="time">
						<label for="time21">
							<a  class="weui_btn weui_btn_default">09:00-10:00
								<br/>
								800元
							</a>
						</label>
					</div>
					<div class="option">
						<input type="radio" id="time22" value="2" name="time">
						<label for="time22">
							<a  class="weui_btn weui_btn_default">10:00-11:00
								<br/>
								800元
							</a>
						</label>
					</div>
					<div class="option">
						<input type="radio" id="time23" value="3" name="time">
						<label for="time23">
							<a  class="weui_btn weui_btn_default">11:00-12:00
								<br/>
								800元
							</a>
						</label>
					</div>
				</div>
				<div class="timelist select pm">
					<div class="option">
						<input type="radio" id="time24" value="4" name="time">
						<label for="time24">
							<a  class="weui_btn weui_btn_default">12:00-13:00
								<br/>
								800元
							</a>
						</label>
					</div>
					<div class="option">
						<input type="radio" id="time25" value="5" name="time">
						<label for="time25">
							<a  class="weui_btn weui_btn_default">13:00-14:00
								<br/>
								800元
							</a>
						</label>
					</div>
					<div class="option">
						<input type="radio" id="time26" value="6" name="time">
						<label for="time26">
							<a  class="weui_btn weui_btn_default">14:00-15:00
								<br/>
								800元
							</a>
						</label>
					</div>
					<div class="option">
						<input type="radio" id="time27" value="7" name="time">
						<label for="time27">
							<a  class="weui_btn weui_btn_default">15:00-16:00
								<br/>
								800元
							</a>
						</label>
					</div>
				</div>
				<div class="timelist select night">
					<div class="option">
						<input type="radio" id="time28" value="8" name="time">
						<label for="time28">
							<a  class="weui_btn weui_btn_default">17:00-18:00
								<br/>
								800元
							</a>
						</label>
					</div>
					<div class="option">
						<input type="radio" id="time29" value="9" name="time">
						<label for="time29">
							<a  class="weui_btn weui_btn_default">18:00-19:00
								<br/>
								800元
							</a>
						</label>
					</div>
					<div class="option">
						<input type="radio" id="time210" value="10" name="time">
						<label for="time210">
							<a  class="weui_btn weui_btn_default">19:00-20:00
								<br/>
								800元
							</a>
						</label>
					</div>
					<div class="option">
						<input type="radio" id="time211" value="11" name="time">
						<label for="time211">
							<a  class="weui_btn weui_btn_default">20:00-21:00
								<br/>
								800元
							</a>
						</label>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="foot">
		<div class="left">
			<p>玩兔已为你推荐上课时间</p>
			<p>开课时间: {{course.starttime}}</p>
			<p>上课时间: {{course.routine}}</p>
		</div>
		<div class="right">
			<p>{{course.price}}</p>
			<p><a href="/timefix">a 学校</a></p>
		</div>
	</div>
</div>
<div class="actionbar">
	<a href="/willpay">立即预约</a>
</div>