
<div class="orderinfo">
	<div class="section">
		<div class="right">已支付</div>
		<p class="title">张悬教你弹吉他 吉他课程</p>
		<p>5 - 7 岁</p>
		<p>20 课时</p>
	</div>
	<div class="section">
		<p>开课时间：2016.08.01</p>
		<p>上课时间： 每周一 上午 10:00——11:00</p>
		<p>首次上课时间：2016.08.01 上午 10:00——11:00</p>
		<p>预估结课时间：2016.12.12</p>
		<p>上课地点： 北京市 海淀区 x学校</p>
	</div>
	<div class="section orange">
		<div class="left">
			<p>课程原价：1000元</p>
			<p>时段折扣：8折</p>
		</div>
		<div class="right">
			<p>小计</p>
			<p>800元</p>
		</div>
	</div>
	<div class="section small black">
		<div class="left">
			<p class="title">宝贝信息</p><br/><br/>
			<p>姓名</p>
			<p>性别</p>
			<p>年龄段</p>
			<p>感兴趣的乐器</p>
		</div>
		<div class="right">
			<p>为了更好地服务您，请</p>
			<p style="text-align: right;"><a href="">宝贝信息</a></p>
			<div class="img" style="width: 70px;background-color: #aaa;height: 70px;float: right;line-height: 5.5;text-align: center;margin-top: 15px;">头像</div>
		</div>
	</div>
</div>
<div class="assist" style="bottom: 0;">
	<div class="left">
		<p>玩兔为你安排专属音乐顾问：xxx</p>
		<p class="remind">支付完成后，顾问会联系您，请保持手机通畅</p>
	</div>
	<div class="right">
		<div class="img" style="background: #aaa;width: 60px;height: 60px;line-height: 3.5;">头像</div>
	</div>
</div>
