<style type="text/css">
	.header{
		display: none;
	}
	.assist{
		height: 78px;
		position: static;
	}
	.method p.title{
		padding: 10px 15px;
	}
</style>
<div class="assist">
	<div class="left">
		<p>玩兔为你安排专属音乐顾问：xxx</p>
		<p class="remind">支付完成后，顾问会联系您，请保持手机通畅</p>
	</div>
	<div class="right">
		<div class="img" style="background: #aaa;width: 60px;height: 60px;line-height: 3.5;">头像</div>
	</div>
</div>
<div class="method">
	<p class="title">选择支付方式</p>
	<div class="weui_cells weui_cells_radio">
		<label class="weui_cell weui_check_label" for="x11">
            <div class="weui_cell_bd weui_cell_primary">
                <p >支付宝</p>
            </div>
            <div class="weui_cell_ft">
                <input type="radio" class="weui_check" name="radio1" id="x11">
                <span class="weui_icon_checked"></span>
            </div>
		</label>
		<label class="weui_cell weui_check_label" for="x12">
            <div class="weui_cell_bd weui_cell_primary">
                <p>微信</p>
            </div>
            <div class="weui_cell_ft">
                <input type="radio" class="weui_check" name="radio1" id="x12">
                <span class="weui_icon_checked"></span>
            </div>
		</label>
	</div>
</div>
<div class="actionbar">
	<a href="javascript:;">支付 800元</a>
</div>
<div class="weui_dialog_confirm" id="dialog1" style="display:none">
    <div class="weui_mask"></div>
    <div class="weui_dialog">
        <div class="weui_dialog_hd"><strong class="weui_dialog_title">支付结果</strong></div>
       <!--  <div class="weui_dialog_bd">自定义弹窗内容，居左对齐显示，告知需要确认的信息等</div> -->
        <div class="weui_dialog_ft">
            <a href="/payresult" class="weui_btn_dialog primary">已完成</a>
            <a href="/willpay" class="weui_btn_dialog primary">遇到问题</a>
        </div>
    </div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		$('.actionbar a').on('click',function(){
			$('#dialog1').show();
		})
	})
</script>
