<style type="text/css">
	.payresult{
		background-color: #aaa;
		padding: 1em 2em;
		text-align: center;
	}
	.link{
		padding: 1em 2em;
	}
</style>
<div class="payresult">
	暂未收到款项
</div>
<div class="link">
	<a href="">联系客服xxxxxx</a>
	<br/>
	<a href="">前往第三方平台查看记录</a>
</div>