<style type="text/css">
	.header{
		display: none;
	}
</style>
<div class="countdown">
	支付剩余时间：6分16秒
</div>
<div class="orderinfo">
	<div class="section">
		<p class="title">张悬教你弹吉他 吉他课程</p>
		<p>5 - 7 岁</p>
		<p>20 课时</p>
	</div>
	<div class="section">
		<p>开课时间：2016.08.01</p>
		<p>上课时间： 每周一 上午 10:00——11:00</p>
		<p>首次上课时间：2016.08.01 上午 10:00——11:00</p>
		<p>预估结课时间：2016.12.12</p>
		<p>上课地点： 北京市 海淀区 x学校</p>
	</div>
	<div class="section orange">
		<div class="left">
			<p>课程原价：1000元</p>
			<p>时段折扣：8折</p>
		</div>
		<div class="right">
			<p>小计</p>
			<p>800元</p>
		</div>
	</div>
	<div class="section small black">
		<p>注意事项：</p>
		<p>当前课程不可退费</p>
		<p>中途不可变更上课对象</p>
		<p>中途不可变更上课场所</p>
		<p>中途不可变更固定上课时段</p>
		<p>玩兔会根据上课对象的实际程度，增加课时来达到教学效果</p>
		<p>若中途因为不可抗力，需要请假，需提前一个工作日联系音乐顾问</p>
	</div>
</div>
<div class="actionbar">
	<div class="assist">
		<div class="left">
			<p>玩兔为你安排专属音乐顾问：xxx</p>
			<p class="remind">支付完成后，顾问会联系您，请保持手机通畅</p>
		</div>
		<div class="right">
			<div class="img" style="background: #aaa;width: 60px;height: 60px;line-height: 3.5;">头像</div>
		</div>
	</div>
	<a href="/orderpaid">确认支付</a>
</div>
<div class="weui_dialog_confirm" id="dialog1" >
    <div class="weui_mask"></div>
    <div class="weui_dialog">
        <div class="weui_dialog_hd"><strong class="weui_dialog_title">弹窗标题</strong></div>
        <div class="weui_dialog_bd">自定义弹窗内容，居左对齐显示，告知需要确认的信息等</div>
        <div class="weui_dialog_ft">
            <a href="javascript:;" class="weui_btn_dialog primary">确定</a>
        </div>
    </div>
</div>
