<div class="weui_tabbar">
	<a href="javascript:;" class="weui_tabbar_item weui_bar_item_on">
		<div class="weui_tabbar_icon">
			<i class="iconfont">&#xe603;</i>
		</div>
		<p class="weui_tabbar_label">课程表</p>
	</a>
	<a href="javascript:;" class="weui_tabbar_item">
		<div class="weui_tabbar_icon">
			<i class="iconfont">&#xe601;</i>
		</div>
		<p class="weui_tabbar_label">学习</p>
	</a>
	<a href="javascript:;" class="weui_tabbar_item">
		<div class="weui_tabbar_icon">
			<i class="iconfont">&#xe600;</i>
		</div>
		<p class="weui_tabbar_label">发现</p>
	</a>
	<a href="javascript:;" class="weui_tabbar_item">
		<div class="weui_tabbar_icon">
			<i class="iconfont">&#xe602;</i>
		</div>
		<p class="weui_tabbar_label">我</p>
	</a>
</div>