
	<div class="weui_cell">
		<!-- <div class="weui_cell_hd">
			<label class="weui_label">手机号</label>
		</div> -->
		<div class="weui_cell_bd weui_cell_primary">
			<input class="weui_input" type="number" pattern="[0-9]*" placeholder="请输入手机号" v-model="tel">
		</div>
	</div>
	<div class="weui_cell">
		<div class="weui_cell_bd weui_cell_primary">
			<input class="weui_input" type="number" pattern="[0-9]*" placeholder="请输入手机验证码" v-model="idcode">
		</div>
		<div class="weui_cell_ilbtn">
			<a href="javascript:;" class="weui_btn weui_btn_default">发送</a>
		</div>
	</div>
	<div class="weui_cell">
		<div class="weui_cell_blbtn">
			<!-- <a href="javascript:;" class="weui_btn weui_btn_default">登录</a> -->
		</div>
	</div>