/* Colors */
$font-family: "Hiragino Sans GB","Helvetica Neue",Helvetica,Arial,Verdana,"Microsoft Yahei",sans-serif;
$gray: #aaa;
$bggray: #eee;
$actiongreen: #40DE60;
$orange: #ff7b00;
$textgray: #999;


body{
	overflow-x: hidden;
	font-size: 16px;
	font-family: $font-family;
}


@font-face {font-family: "iconfont";
  src: url('iconfont/iconfont.eot?t=1470017736'); /* IE9*/
  src: url('iconfont/iconfont.eot?t=1470017736#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont/iconfont.woff?t=1470017736') format('woff'), /* chrome, firefox */
  url('iconfont/iconfont.ttf?t=1470017736') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont/iconfont.svg?t=1470017736#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* text*/
h1,h2,h3,h4{
	font-weight: normal;
	text-align: center;
}
h1{
	font-size: 2.5em;
}

h2{
	font-size: 1.5em;
}

h3{
	font-size: 1.25em;
}

h4{
	font-size: 1em;
}

.iconfont{
	color: #aaa;
}


/* input */
.weui_input{
	border: 1px solid $gray;
	border-radius: 6px;
	padding: 6px 0;
	text-indent: 1em;
	font-family: $font-family;
}


.weui_cell_ilbtn{
	width: 5em;
	text-align: right;
	.weui_btn{
		display: inline-block;
		font-size: 1em;
		vertical-align: middle;
	}
}

.weui_cell_blbtn{
	width: 100%;
}

.step_btn{
	margin-top: 20px;
	.weui_btn{
		margin-top: 0;
	}
	.left{
		float: left;
		width: 50%;
	}
	.right{
		float: right;
		width: 50%;
	}
}

.select{
	.option{
		input{
			display: none;
			&:checked~label{
				a.weui_btn{
					background-color: #FFB535;
				}
			}
		}
	}
}

.weui_cells_radio{
	margin-top: 0;
	label{
		border-bottom: 1px solid #d9d9d9;
	}	
}

/* tabbar */

.weui_tabbar_icon{
	text-align: center;
}

.weui_bar_item_on{
	.iconfont{
		color: #888;
	}
	.weui_tabbar_label{
		color: #aaa;
	}
}


/* grids */
.grids{
	position: relative;
	overflow: hidden;
}

.border_grids{
	.grid:before{
		content: '';
		position: absolute;
		box-sizing: border-box;
		width: 200%;
		height: 200%;
		left: 0;
		top: 0;
		border-bottom: 1px solid #D9D9D9;
		border-right: 1px solid #D9D9D9;
		transform: scale(0.5);
		transform-origin: 0 0;
	}
}

.grid{
	position: relative;
	float: left;
	padding: 10px;
	box-sizing: border-box;
}

.grid-1-6{
	width: 16.667%;
}

.grid-2-6{
	width: 33.333%;
}

.grid-3-6{
	width: 50%;
}

.grid-4-6{
	width: 66.667%;
}

.grid-5-6{
	width: 83.333%;
}

.grid-1-5{
	width: 20%;
}

.grid-2-5{
	width: 40%;
}

.grid-3-5{
	width: 60%;
}

.grid-4-5{
	width: 80%;
}

.grid-full{
	width: 100%;
}

/* header */

.header{
	background-color: $bggray;
	overflow: hidden;
	padding: 1em 2em;
	margin-bottom: 0.5em;
	.logo{
		float: left;
	}
	.login{
		float: right;
	}
}


/* product intro */
.intro{
	background-color: $bggray;
	height: auto;
	min-height: 10em;
	margin-bottom: 0.5em;
	padding: 1em 2em;
	text-align: center;

}

/* sign steps */
.step{
	background-color: $bggray;
	padding: 2em 2em;
}

.select{
	overflow: auto;
	width: 100%;
	text-align: center;
	.option{
		float: left;
		width: 33%;
		padding: 1em 0;
	}
}

.signbox{
	padding: 2em 2em;
	h4{
		margin-bottom: 2em;
	}
}


/* 选课 */
/* audition 试听课 */
.audition{
	background-color: $bggray;
	min-height: 5em;
	margin-bottom: 0.5em;
}

.course-list{
	.course{
		padding: 1em 2em;
		height: 10em;
		background-color: rgba(0, 238, 238, 0.19);
		position: relative;
		.head{
			overflow: auto;
			.title{
				float: left;
			}
			.info{
				float: right;
			}
		}
		.foot{
			margin-top: 5em;
			width: 100%;
			.instr{
				float: left;
			}
			.price{
				float: right;
			}
		}

	}
}

.load-more{
	padding: 1em 2em;
	text-align: center;
	background-color: $bggray;
}

/* coursedetail */

.coursedetail{
	.head{
		padding: 1em 2em;
		background-color: $bggray;
		overflow: auto;
		.title{
			float: left;
		}
		.info{
			float: right;
		}
	}
	.body{
		min-height: 13em;
		
	}
	.foot{
		overflow: auto;
		padding: 1em 2em;
		background-color: $bggray;
		.left{
			float: left;
		}
		.right{
			float: right;
		}
	}

}

.actionbar{
	padding: 1em 2em;
	text-align: center;
	background-color: $actiongreen;
	position: absolute;
	bottom: 0;
	width: 100%;
	box-sizing: border-box;
	a{
		display: block;
	}
	.message{
		padding: 0.5em 2em;
		position: absolute;
	    width: 100%;
	    box-sizing: border-box;
	    left: 0;
	    bottom: 100%;
	    font-size: 0.8em;
	    .warn{
	    	background-color: $orange;
	    	color: #fff;
	    }

	}
	&.multi{
		background-color: #fff;
		padding: 0;
		.btn{
			float: left;
			width: 50%;
			background-color: $actiongreen;
			padding: 1em 2em;
			box-sizing: border-box;
			&:first-child{
				border-right: 2px solid #fff;
			}
		}
	}

}

/* 音乐顾问 */
.assist{
	overflow: auto;
	position: absolute;
	width: 100%;
	box-sizing: border-box;
	left: 0;
	bottom: 100%;
	padding: 0.5em 1em;
	background: $bggray;
	.left{
		float: left;
		font-size: 0.875em;
		text-align: left;
		.remind{
			color: $orange;
			font-size: 0.75em;
		}
	}
	.right{
		float: right;
	}
}

.month{
	padding: 1em 0;
}

.tab{
	overflow: auto;
	background-color: $bggray;
	.tab-item{
		float: left;
		width: 25%;
		text-align: center;
		height: 50px;
		&.active{
			background: #fff;
		}
	}
}

.timelist.select{
	display: none;
	&:first-child{
		display: block;
	}
	.option{
		width: 25%;
		.weui_btn{
			font-size: 0.8em;
			line-height: 1.5;
			padding: 0.5em 0;
		}
	}
}

/* order */
.countdown{
	text-align: center;
	background: $bggray;
	padding: 0.5em 1em;
	font-size: 10px;
}

.orderinfo{
	color: $textgray;
	font-size: 0.875em;
	.section{
		padding: 0.5em 1em;
		border-bottom: 1px solid $bggray;
		overflow: auto;
		&:last-child{
			border-bottom: none;
		}
		.left{
			float: left;
		}
		.right{
			float: right;
		}
		.title{
			font-size: 1.3em;
			font-weight: 400;
			color: #000;
		}
		&.orange{
			color: $orange;
		}
		&.black{
			color: #000;
		}
		&.small{
			font-size: 0.75em;
		}
	}
}


