<div class="coursetitle">xxx.课程名称</div>

<div class="clist">
	<div class="month">
		<p>8月</p>

	</div>
</div>
<div class="weui_cells">
	<a href="javascrip:;" class="weui_cell">
		<div class="weui_cell_hd">
			钢琴课
		</div>
		<div class="weui_cell_bd weui_cell_primary">共12节 还有8节</div>
		<div class="weui_cell_ft">></div>
	</a>
</div>
<div class="grids border_grids">
	<div class="grid grid-1-5">7 月 ......</div>
	<div class="grid grid-1-5">4日 星期二</div>
	<div class="grid grid-1-5">4日 星期二</div>
	<div class="grid grid-1-5">4日 星期二</div>
	<div class="grid grid-1-5">4日 星期二</div>
</div>